NEXT_PUBLIC_SUPABASE_URL=https://jtinxferpdwpwalpedpj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp0aW54ZmVycGR3cHdhbHBlZHBqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU0Mzg0NDQsImV4cCI6MjA4MTAxNDQ0NH0.8ixdKcYNi9gtDrHJIRS8nlPLiXA3KGm8vYUAEh6VU3Y
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp0aW54ZmVycGR3cHdhbHBlZHBqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQzODQ0NCwiZXhwIjoyMDgxMDE0NDQ0fQ.Wm0OcPP-ENbpYf17l4gH4oNGGI8ERwaBwx7UUBXd_GY


